<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>poll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F101B751B96F26F00AEFC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FB6572A1B6E36DB00FDA04F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FB6573F1B6E36DB00FDA04F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
